//keyframes loader
@keyframes txt-loading {
    0% {
        content: ". . .";
      }
      25% {
        content: "Oh . .";
      }
      50% {
        content: "Oh My .";
      }
      75% {
        content: "Oh My Food";
      }
      100% {
        content: "";
        background-color: #9356dc;
        color: #9356dc;
        display: none;
        min-height: 0px;
        position: relative;
        z-index: 0;
      }
    }
// Animation Plat
//keyframes appear

@keyframes appear {
    0% {
      
      transform: translateY(100px);
      opacity: 0;
  }
  
  100% {
    
      transform: translateY(0px);
      opacity: 1;
  }
    
  }
